@font-face {
    src: url('../font/iconfont.woff') format('woff');
    font-family: 'iconfont';
    font-variant: normal;
    font-stretch: normal;
    font-weight: normal;
    font-style: normal;
}

.icon {
    display: inline-block;
    font: normal normal normal 14px/1 iconfont;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-a:before {
    content: "\f293";
}
.icon-b:before {
    content: "\f294";
}
.icon-c:before {
    content: "\f284";
}
/*\7cd6*/
.icon-d:before {
    content: "\1D306💩";
}